*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
   background-color: #4EA0FF;
   background-image: url("../html-css-booleaner/assets/img\ 3/pattern.png");
   background-size: 20%;
   height: 15vh;
}

.logo{
    height: 100%;
    margin: auto;
    width: 80%;
}

.logoBooleaner{
    height: 60%;
}

.mainContainer{
    margin: auto;
    width: 80%;
}

section{
    margin-bottom: 2%;
}

.headline{
    color: gray;
}

h1{
    color: black;
}

.author{
    color: #4EA0FF;
}

.img{
    display: inline-block;
    text-align: center;
}

.highlight{
    background-color: yellow;
}

table{
    border-spacing: 0;
}

thead{
    background-color: #4EA0FF;
    border-color: #4EA0FF;
    color: white;
    text-align: left;
}

.type1{
    background-color: #B1E5F2;
    color: white;
}

td,th{
    width: 1%;
}

.article1,.article2{
    background-image: url("../html-css-booleaner/assets/img\ 3/monitor.jpg");
    background-size: cover;
    height: 300px;
    width: 300px;
    color: white;
    padding-left: 2%;
    padding-top: 2%;
    font-weight: bold;
    margin-top: 1%;
}

.article2{
    background-image: url("../html-css-booleaner/assets/img\ 3/graph.jpg");

} 

h3{
    color: gray;
}

